#quotes-root {
  font-family: "Oxygen", sans-serif;
  font-style: normal;
  font-weight: 100;
}
#quotes-root div {
  width: auto;
  display: flex;
}
#quotes-root ul {
  display: flex;
  border-bottom: 1px dotted #000;
  border-top: 1px dotted #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-top: 6px;
  padding-bottom: 6px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 1em auto;
}
#quotes-root li {
  list-style: none;
  padding-left: 5px;
  min-height: 50px;
  /* max-width: 120px; */
  text-align: left;
  font-family: "Oxygen", sans-serif;
  font-size: 12px;
  margin-right: 10px;
  /* -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1; */
  /* flex-grow: 1; */
}

#quotes-root .is-negative {
  border-left: 5px solid #ffe1e1;
}

#quotes-root .is-positive {
  border-left: 5px solid #9cf4dc;
}

#quotes-root .name {
  color: #000;
  padding-top: 3px;
  font-family: "Oxygen", sans-serif;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}

#quotes-root .price {
  display: block;
  color: #000;
  padding-top: 3px;
}

#quotes-root .day .signal {
  font-size: 14px;
  top: -2px;
  position: relative;
  margin-right: 1px;
}

#quotes-root .day.day-positive:before {
  position: relative;
  content: "";
  top: -7px;
  left: -2px;
  border-style: solid;
  border-width: 0 5px 10px;
  border-color: transparent transparent #1ecd93;

  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #1ecd93;
}

#quotes-root .day.day-negative:before {
  position: relative;
  content: "";
  top: 5px;
  left: -2px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #ff433d;
}
